.businessLoanBanner {
    background-image: url("../Assets/businsse\ LoanBanner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 14% 0;
}

.businessLoanBanner h3 {
    color: #e2e2e2;
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.businessLoanBanner h2 {
    color: #00ADEF;
    font-size: 40px;
    font-weight: 700;
    margin-top: 1%;
}

.businessLoanBanner p {
    font-size: 17px;
    color: white;
    font-family: inter;
    margin-top: 1%;
}





/* ----------Media Query---------- */

/*  Desktop 1600px    */
@media (max-width: 1850px) {}

/*  Desktop 1440px    */
@media (max-width: 1440px) {}

/*  Desktop 1280px    */
@media (max-width: 1366px) {}

/*  iPad 1024px    */
@media (max-width: 1199px) {
    .HomeLoanBanner {
        padding: 15% 0;
    }

}

/*  iPad 991px    */
@media (max-width: 991px) {
    .businessLoanBanner {
        padding: 23% 5%;
    }

}

/*  Iphone 767px   */
@media (max-width: 767px) {
    .businessLoanBanner h3 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .businessLoanBanner h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .businessLoanBanner p {
        font-size: 17px;
        /* padding: 3%; */
    }
}

/*  Iphone 567px   / */
@media (max-width: 567px) {
    .businessLoanBanner {
        padding: 30% 5%;
    }
}

/*  Mobile 375px    */
@media (max-width: 375px) {}

/*  Mobile 360px    */
@media (max-width: 360px) {}

/*  Mobile 320px    */
@media (max-width: 320px) {}